* {
   margin: 0;
   
}

  body {
    background-image: url("img/backgraund-img.jpg");
} 


/*Header Section*/

.header-section {
    display: flex;
}

.header-section p {
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
    font-weight: bold;
    padding: 24px 8px 10px 50px;
    color: #FFFFFF;
}

.signature a{
    text-decoration: none;
}

nav {
    height: 30%; 
    margin-left: 400px;
    margin-top: 20px; 
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 20px 20px 20px 30px;
    font-size: 20px;
    list-style: none;
    margin-left: -18px;
}

nav ul li a {
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Comfortaa', sans-serif;
    font-weight: lighter;
}

nav ul li a:hover {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}


/*About-me-section*/
.about-me { 
    display: flex;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    height: 100%;
}

.description {
    width: 50%;
    padding: 80px 40px 40px 40px;
}

.description h1 {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    color: #FFFFFF;
    margin-left: 60px;
}

.description p {
    padding: 20px;
    font-family: 'Comfortaa', sans-serif;
    margin-top: 10px;
    color: #FFFFFF;
}

.logo{
    padding-left: 80px;
}

.icon {
    padding: 4px 6px 2px 6px; 
    margin-left: 8px;
}

.img-profile {
    width: 320px;
    height: 320px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 80px;
}

.img-profile img {
    width: 240px;
    height: 300px;
    padding: 60px 40px 60px 40px;
    object-fit: cover;
    border-radius: 200px;
}


/* Skills Section */
.skills-section {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.soft-skills {
    display: flex;   
}

.soft-skills h1 {
   color: #FFFFFF;
    font-size: 70px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

.soft-skills li {
    font-size: 22px;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-family: 'Comfortaa', sans-serif;
}

.technical-skills {
    display: flex;
}

.technical-skills h1 {
   color: #FFFFFF;
    font-size: 70px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

.technical-skills ul {
    margin-top: 8px;
    padding-top: 14px;
    padding-right: 8px;
    padding-left: 8px;
}

.technical-skills li {
    font-size: 22px;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-family: 'Comfortaa', sans-serif;
}


/* Project Section */
.projects-container {
    display: grid;
    grid-template-columns: auto auto auto; 
    gap:100px;
    place-content: center;
    padding: 60px; 
}

.card-projects {
    background-color:#FFFFFF;
    width: 300px;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    border-radius: 10px;
}

.card-projects:hover {
    border: 2px solid #73FB07;
    
}

.card-projects a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;  
}

.card-projects a:hover {
    color: #73FB07;
    font-weight: bold;
}

.icon-tabler {
    padding-top: 14px;
} 



/* section cv */

.section-cv {
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    gap: 500px;
    padding: 200px; 
}

.cv-link, .certificades-links {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 12px 10px 12px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;  
}

.cv-link:hover, .certificades-links:hover {
    border: 2px solid #73FB07;
    border-radius: 10px;
    color: #73FB07;
}

.cv-img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 60px;
    padding-top: 50px;
    padding-bottom: 700px;
    display: none;
}

.links-certificates {
    margin-top: 50px;
    display:none;
}

.links-certificates a {
    color: #FFFFFF;
    display: flex;
    padding: 20px;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
}

 .links-certificates a:hover {
    border: 2px solid #73FB07;
    border-radius: 10px;
    color: #73FB07;
} 



/* Contact section */

.contact {
    padding: 200px 20px 200px 500px;
}



/* footer section */
footer {
    background-color: black;
}

footer p {
    color: #FFFFFF;
    padding: 20px;
    font-weight: lighter;
    font-family: 'Comfortaa', sans-serif;
    font-size: 10px;
    margin-left: 450px;
}









